.features__grid {
    display: grid;
    grid-template-columns: repeat(3, calc(92% / 3));
    grid-row-gap: 75px;
    justify-content: space-between;
    margin: 150px 8vw;

    @include rwd(1060) {
        grid-template-columns: repeat(2, calc(90% / 2));
    }

    @include rwd(615) {
        display: flex;
        flex-direction: column;
        grid-row-gap: 50px;
        margin: 100px 8vw;

        .feature__card__textbox {
            width: 85%;
            margin: 0 auto;
        }
    }
}